<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-md navbar-light bg-dark " >
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <span style="color:darkorange;" >Attendence Tracker 
        </a>
    
        <a class="navbar-brand" href="{% url 'addLecture' %}">
            <span style="color:darkorange;" > Update Time-Table
        </a>
    
        <a class="navbar-brand" href="{% url 'markProxy' %}">
            <span style="color:darkorange;" > Mark a proxy
        </a>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
    
        <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" onclick="$('#signOutBtn').click()" class="nav-link" style="color: darkorange;">Logout</a>
                        <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                            {% csrf_token %}
                            <button id="signOutBtn" type="submit">Logout</button>
                        </form>
                    </li>
    
    
                    <li class="nav-item">
                        <p class="nav-link" style="color: greenyellow ;  " style="color: darkorange;">    </a>
                    </li>
    
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signupuser' %} " style="color: darkorange;">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loginuser' %}" style="color: darkorange;">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </nav>
 

<br>
<br>
 <h1> Welcome {{user.username}} <h1>
<br>

{% for abs in absentees %}
<div class="card">
  <div class="card-body">
    {{abs.student.username}}
    <button type="submit" onclick="markproxy({{abs.student.id}})" class="btn btn-success">Mark</button>
  </div>
</div>
{% endfor %}

<script>
    function markproxy(val){
        console.log(val);
        $.ajax({
            url:"{% url 'markProxy' %}",
            method:"POST",
            data:{
                sid : val,
            },
	    })
    }
</script>

